{% extends "layout.html" %}

{% block content %}
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="info-fill" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
</svg>
{% with messages = get_flashed_messages() %}
  {% if messages %}
   <div class="alert alert-primary" role="alert">
          {% for message in messages %}
               {{ message }}
            {% endfor %}
    </div>
  {% endif %}
{% endwith%}

<h1 class="text-center"><span class="marca">OfertAlert</span> Encuentra las mejores ofertas sin esfuerzo </h1>
<p class="mt-4 ">Esta aplicación te permite seguir el precio de productos online y recibir alertas cuando haya ofertas.
Sólo tienes que agregar los enlaces de los productos que te interesen separados por comas. La aplicación revisará los precios cada 30 minutos y te enviará un email si detecta un descuento o promoción.
Así podrás estar al tanto de las mejores ofertas sin tener que buscar manualmente.</p>
<form method="post" >
  <div class="mb-3 mt-4">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input type="email" class="form-control" id="emailInput" name="emailInput" placeholder="name@example.com" required>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Introduce la url de los productos que quieres comprobar que esten en oferta</label>
    <textarea class="form-control" id="urlInput" name="urlInput" rows="3" required placeholder="https://footdistrict.com/adidas-x-parley-womens-ultraboost-dna-gv8718.html, https://www.bstn.com/eu_es/p/mitchell-ness-nba-swingman-shorts-philadelphia-76ers-2002-03-smshcp19073-p76red102-0196346?itm_source=webrecommendation&itm_campaign=related"></textarea>
  </div>
  <button type="submit" class="btn btn-outline-light">Enviar</button>
</form>
<h2 class="text-center mt-2">Empresas que soportamos actualmente</h2>
<div class="text-center mt-4">
  <img src="static/images/footdistrict_logo.jpg" class="img-thumbnail img-fluid" alt="Logo SVD">
  <img src="static/images/bohoman_logo.jpg" class="img-thumbnail img-fluid" alt="Logo Boohoman">
  <img src="static/images/BSTN_logo.png" class="img-thumbnail img-fluid" alt="Logo BSTN">
</div>
{% endblock %}